/*
 * This file bundles all classes of ease together into an importable file.
 * It should never be imported more than once! ☝️
 */

@import './_reset.scss';
@import './_colors.scss';
@import './_typography.scss';

html,
body {
  height: 100%;
  min-height: 100%;
  font: $font-weight-normal $font-size-normal $font-family;
  line-height: $line-height-normal;
  letter-spacing: 0;
  color: var(--color-text-light);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
}

body {
  background: $color-purple-300;
}
