:host {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    border-bottom: 4px solid var(--bg-primary-dark-1);
  }

  .user-item {
    padding: 8px;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;

    ul {
      display: flex;

      &:nth-of-type(1) {
        align-items: center;
        gap: 24px;
        justify-content: space-between;
        cursor: pointer;

        li {
          display: block;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:first-child {
            display: flex;
            flex: 0 0 40px;

            img {
              border-radius: 100%;
            }
          }

          &:nth-of-type(2) {
            flex: 0 1 33%;
          }

          &:nth-of-type(3) {
            flex: 0 1 44%;
          }

          &:nth-of-type(4) {
            flex: 0 1 23%;
          }

          &:last-child {
            display: flex;
            flex: 0 0 40px;
            justify-content: flex-end;
          }
        }

        @media (max-width: 480px) {
          li {
            &:not(:nth-of-type(1), :nth-of-type(2)) {
              display: none;
            }

            &:nth-of-type(2) {
              flex: 1;
            }
          }
        }
      }

      &:nth-of-type(2) {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        transition: height 0.5s ease-in-out;

        &[expanded="true"] {
          height: 70px;

          @media (max-width: 480px) {
            height: 160px;
          }
        }

        li {
          padding-top: 8px;

          &:nth-of-type(1) {
            margin-top: 24px;
            padding-top: 12px;
            border-top: 2px solid var(--bg-primary);
          }

          &:not(:nth-of-type(1), :nth-of-type(2)) {
            display: none;
          }

          @media (max-width: 480px) {
            &:is(:nth-of-type(3), :nth-of-type(4), :nth-of-type(5)) {
              display: block;
            }
          }
        }
      }
    }
  }
}
