<div class="user-item" (click)="toggleExpansion()" [attr.expanded]="isExpanded">
  <img class="user-item__image" loading="lazy" [src]="user().imageSrc"
    alt="{{ user().firstname }} {{ user().lastname }}" />

  <p class="user-item__name">
    {{ user().firstname }} {{ user().lastname }}
  </p>

  <p class="user-item__email">{{ user().email }}</p>

  <p class="user-item__phone">{{ user().phone }}</p>

  <p class="user-item__nat">{{ user().nat }}</p>

  @if (isExpanded) {
  <div class="user-extra-info">
    <p class="user-item__dob">Date of Birth: {{ user().dob?.date | date }} ({{user().dob?.age}})</p>
    <p class="user-item__address">
      Address: {{user().formattedAddress}}
    </p>
  </div>
  }
</div>
