.user-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--bg-primary-dark-1);
  border-radius: 4px;
  background-color: var(--bg-primary-light-1);
}

:host {
  display: block;
}
