@import 'ease/ease-import.scss';

.user-list {
  padding: $spacing-m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: $border-size-xxs solid var(--color-sky);
  border-radius: $border-size-m;
  background-color: var(--color-white);
}

:host {
  display: block;
}
