<section class="app-user-hub">
  @if (!loading) {
  <section>
    <div>
      <app-search (searchChange)="onSearch($event)"></app-search>
      <select name="" id="">
        <option value="">Select a category</option>
      </select>
    </div>
  </section>
  }
  <article class="user-container" appScrollNearEdge (nearEdge)="onNearEdgeScroll($event)">
    @if (getGroupKeys().length) {
    @for (groupKey of getGroupKeys(); track $index) {
    <h2>{{ groupKey }}</h2>
    <app-user-list [users]="visibleUsers[groupKey]"></app-user-list>
    }
    }
  </article>
  <nav>
    <button (click)="onPageChange(pagination.currentPage - 1)"
      [disabled]="pagination.currentPage === 1">Previous</button>

    @for (page of displayedPages; track $index) {
    <button [class.active]="page === pagination.currentPage" (click)="onPageChange(page)">
      {{ page }}
    </button>
    }

    <button (click)="onPageChange(pagination.currentPage + 1)">Next</button>
  </nav>
  @if (loading) {
  <p>Loading...</p>
  }
</section>
